Repository chapter-three/next-drupal, pull requests merged in 2022-11, with the labels that each got.

#352 fix(next): no resourceVersion in query if not versionable
  modules/next/src/Entity/NextSite.php
  modules/next/tests/src/Kernel/Entity/NextSiteTest.php
Labels: bug, area: next module

#301 Stable On-demand ISR
  .github/workflows/next.yml
  lerna.json
  modules/next/config/install/next.settings.yml
  modules/next/config/schema/next.schema.yml
  modules/next/modules/next_extras/next_extras.module
  modules/next/next.install
  modules/next/next.module
  modules/next/next.services.yml
  modules/next/package.json
  modules/next/src/Annotation/Revalidator.php
  modules/next/src/Controller/NextSiteEntityController.php
  modules/next/src/Entity/NextEntityTypeConfig.php
  modules/next/src/Entity/NextEntityTypeConfigInterface.php
  modules/next/src/Entity/NextSite.php
  modules/next/src/Entity/NextSiteInterface.php
  modules/next/src/Event/EntityActionEvent.php
  modules/next/src/Event/EntityActionEventInterface.php
  modules/next/src/Event/EntityEvents.php
  modules/next/src/Event/EntityRevalidatedEvent.php
  modules/next/src/Event/EntityRevalidatedEventInterface.php
  modules/next/src/EventSubscriber/EntityActionEventRevalidateSubscriber.php
  modules/next/src/EventSubscriber/EntityActionEventSubscriberBase.php
  modules/next/src/Form/NextEntityTypeConfigForm.php
  modules/next/src/Form/NextSettingsForm.php
  modules/next/src/Form/NextSiteForm.php
  modules/next/src/NextEntityTypeConfigListBuilder.php
  modules/next/src/NextEntityTypeManager.php
  modules/next/src/NextEntityTypeManagerInterface.php
  modules/next/src/NextSettingsManager.php
  modules/next/src/NextSettingsManagerInterface.php
  modules/next/src/NextSiteListBuilder.php
  modules/next/src/Plugin/ConfigurableRevalidatorBase.php
  modules/next/src/Plugin/ConfigurableRevalidatorInterface.php
  modules/next/src/Plugin/Next/Revalidator/Path.php
  modules/next/src/Plugin/RevalidatorBase.php
  modules/next/src/Plugin/RevalidatorInterface.php
  modules/next/src/Plugin/RevalidatorManager.php
  modules/next/src/Plugin/RevalidatorManagerInterface.php
  modules/next/src/RevalidatorPluginCollection.php
  modules/next/tests/modules/next_tests/next_tests.info.yml
  modules/next/tests/modules/next_tests/next_tests.services.yml
  modules/next/tests/modules/next_tests/src/EventSubscriber/EntityActionEventSubscriber.php
  modules/next/tests/src/Kernel/Controller/NextSiteEntityControllerTest.php
  modules/next/tests/src/Kernel/Entity/NextEntityTypeConfigTest.php
  modules/next/tests/src/Kernel/Entity/NextSiteTest.php
  modules/next/tests/src/Kernel/Event/EntityActionEventTest.php
  modules/next/tests/src/Kernel/NextEntityTypeManagerTest.php
  modules/next/tests/src/Kernel/NextSettingsManagerTest.php
  modules/next/tests/src/Kernel/Plugin/PathRevalidatorTest.php
  modules/next/tests/src/Kernel/Plugin/SimpleOauthPreviewUrlGeneratorTest.php
  package.json
Labels: enhancement, area: next module

#313 Drupal 10 compatibility fixes.
  modules/next/composer.json
  modules/next/modules/next_extras/next_extras.info.yml
  modules/next/modules/next_graphql/next_graphql.info.yml
  modules/next/modules/next_jsonapi/next_jsonapi.info.yml
  modules/next/modules/next_jwt/next_jwt.info.yml
  modules/next/next.info.yml
  modules/next/src/Plugin/Next/PreviewUrlGenerator/SimpleOauth.php
Labels: area: next module, Drupal 10

#375 feat: update workflow
  .github/workflows/next-drupal.yml
  packages/next-drupal/src/foo.ts
Labels: release-pr
