Repository chapter-three/next-drupal, pull requests merged in 2024-02, with the labels that each got.

#377 fix(next-drupal): update return type for translatePath and translatePathFromContext
  packages/next-drupal/src/client.ts
  packages/next-drupal/tests/client.test.ts
Labels: area: next-drupal, release-pr: next-drupal

#181 Redirects docs: added example and note about pathPrefix
  www/content/guides/redirects.mdx
Labels: area: next-drupal

#417 Added keys to tags in <Head> component
  examples/example-blog/components/meta.tsx
  examples/example-graphql/pages/[...slug].tsx
  examples/example-graphql/pages/index.tsx
  examples/example-marketing/components/meta.tsx
  examples/example-query/pages/index.tsx
  examples/example-umami/components/meta.tsx
Labels: area: examples/*

#506 Use LoggerInterface from psr/log
  modules/next/src/EventSubscriber/EntityActionEventSubscriberBase.php
Labels: area: next module

#522 fix: Typo in className for transparent border
  examples/example-umami/components/header.tsx
Labels: area: examples/*

#481 Add early return when no sites configured for preview.
  modules/next/src/Render/MainContent/HtmlRenderer.php
Labels: area: next module

#550 handle exception on generating the url
  modules/next/src/Event/EntityActionEvent.php
Labels: area: next module
